:root {
  font-family: "Noto Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  // background-color: #efefef;
  background-color: #111;
  color: #efefef;
}

a {
  all: unset;
}

.noiseFilter {
  position: fixed;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: lighten;
  background: url("../assets/noise.jpg");
  opacity: 1;
  filter: invert(1);
  z-index: 1;

  @media screen and (max-width: 768px) {
    background-size: 300%;
  }

  @media screen and (max-width: 640px) {
    background-size: 500%;
  }
}

.vhsFilter {
  object-fit: cover;
  position: fixed;
  inset: 0;
  scale: 1.2;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  opacity: 1;
  pointer-events: none;

  &.reducedVisibility {
    opacity: 0.06;
  }

  &.transitionLightLeak {
    filter: none;
    mix-blend-mode: unset;
    opacity: 1;
    z-index: 3;
  }
}
