.container {
  height: 100dvh;
  display: grid;
  place-items: center;

  .menuOptions {
    text-align: center;
    list-style: none;
    display: flex;
    gap: 2em;
    font-size: 2rem;
    font-weight: 200;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    li {
      cursor: pointer;

      transition: scale 0.3s;

      &:hover {
        font-weight: 400;
        scale: 1.1;
      }
    }
  }
}
